
@font-face {
    font-family: 'Humane-Bold';
    src: url('font/Humane-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('font/Humane-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

