@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

body{
    margin: 0;
    background-color: #f7f7f7;
    background-image: url("emboss.1.jpg");
    background-size: 800%;
    background-repeat: repeat-x;
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    display: table-cell;
    vertical-align: middle;
}


html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

#main{
    display: inline-block;
    text-align: center;
}


#logo{
    font-size: 200pt;
    font-family: 'Humane-Bold';
    font-weight: bold;
    line-height: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    mix-blend-mode: difference;
}

a{
    all: unset;
}

b{
    font-weight: 800;
}

.resizeIc {
    font-size: 14pt !important;
}


ul{
    list-style-type: disc;
    text-align: left;
    margin: 0 0 10px 0;
}

li{
    padding-bottom: 10px;
}


.singlelink{
    margin-bottom: 10px;
    font-size: 18pt;
    /*cursor: pointer;*/
    font-weight: 500;
    mix-blend-mode: difference;
}



#links{
    margin-top: 20px;
}

@media screen and (max-width: 800px)  {
    body{
        background-size: 600%;
    }
    
}