@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;600;700;800&display=swap');
body{
    margin: 0;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 200;
}

#descr{
    opacity: 50%;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

#main{
    display: inline-block;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#logo{
    font-size: 80pt;
    /*font-family: 'Butler';*/
    line-height: 80%;
    font-weight: 800;
    -webkit-background-clip: text;
	background-clip: text;
	background-image: url('homemob.gif');
    background-size: cover;
    background-position: center;
	color: transparent;
    margin-bottom: 38px;
}

a{
    all: unset;
}
b{
    font-weight: 800;
}

.resizeIc {
    font-size: 14pt !important;
}


ul{
    list-style-type: disc;
    text-align: left;
    margin: 0 0 10px 0;
}

li{
    padding-bottom: 10px;
}


.singlelink{
    margin-bottom: 10px;
    font-size: 11pt;
    cursor: pointer;
}



#links{
    margin-top: 20px;
}
